In [ ]:
!pip install contractions

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting contractions
  Downloading contractions-0.1.72-py2.py3-none-any.whl (8.3 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 8.0 MB/s
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 42.7 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.72 pyahocorasick-1.4.4 textsearch-0.0.21

In [ ]:
# mount drive
from google.colab import files
from google.colab import drive

drive.mount('/content/gdrive')

import sys
sys.path.append('/content/gdrive/My Drive/scripts')

Mounted at /content/gdrive

In [ ]:
# import libraries
import CSUtilities as csu
import pandas as pd
import numpy as np
from datetime import date
import psycopg2
import time
import io

today = date.today()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
#make a connection
con1=psycopg2.connect(
        dbname= '', 
        host='', 
        port= 0,
        user= '', 
        password= '')
cur1 = con1.cursor()

In [ ]:
# upload tasks.xlsx
uploaded_tasks = files.upload()

Saving tasks.xlsx to tasks.xlsx

In [ ]:
tasks = pd.read_excel(io.BytesIO(uploaded_tasks['tasks.xlsx']),sheet_name="data")
tasks = tasks[['groupId','groupName','FB Post Link','memberCount']]
tasks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   groupId       31 non-null     object
 1   groupName     31 non-null     object
 2   FB Post Link  31 non-null     object
 3   memberCount   31 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [ ]:
# drop empty kol links
df_links = tasks.dropna(subset=['FB Post Link'], how='any')
df_links.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   groupId       31 non-null     object
 1   groupName     31 non-null     object
 2   FB Post Link  31 non-null     object
 3   memberCount   31 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

In [ ]:
# upload selection.xlsx
uploaded_selection = files.upload()

Saving selection.xlsx to selection.xlsx

In [ ]:
# read selection.xlsx
df_fbids = pd.read_excel(io.BytesIO(uploaded_selection['selection.xlsx']),sheet_name="Sheet1")
df_fbids = df_fbids.loc[:,['Group ID', 'Fb Group ID']]
df_fbids.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Group ID     31 non-null     object
 1   Fb Group ID  31 non-null     int64
dtypes: int64(1), object(1)
memory usage: 624.0+ bytes

In [ ]:
# add fb grp ids from selection xlsx
df = df_links.merge(df_fbids, left_on='groupId', right_on='Group ID', how='left')
df = df.drop(columns=['Group ID'])
df.rename(columns={'Fb Group ID':'FBGroupIDSel'}, inplace=True)
col = df.columns[:-1].insert(1, df.columns[-1])
df = df[col]
df.fillna(0,inplace=True)
df.FBGroupIDSel = df.FBGroupIDSel.astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   groupId       31 non-null     object
 1   FBGroupIDSel  31 non-null     int64
 2   groupName     31 non-null     object
 3   FB Post Link  31 non-null     object
 4   memberCount   31 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [ ]:
df.head()

,groupId,FBGroupIDSel,groupName,FB Post Link,memberCount
0,586d7c85-2f43-493c-97c8-5fdc406ea1de,326430437405377,Medical Case Consultation,https://www.facebook.com/groups/medclick/perma...,636542
1,ffd2cf8f-1608-419a-b334-4042b00d3e09,1343435782401455,Home Remedies for babies and Moms 👪,https://www.facebook.com/groups/homeremediesfo...,252377
2,6df3f44f-d87a-48e8-8bcf-710aa06b56bf,334087516998050,Weight Loss Post Pregnancy,https://www.facebook.com/groups/33408751699805...,186310
3,718175d3-29fa-4e83-b60a-eca1cad397d0,364972353905531,Pregnancy Guide Group,https://m.facebook.com/groups/pregnancyfoodgui...,179984
4,4597b476-c749-470b-b813-be96355a960f,487326304778646,MoI - MOMS of INDIA™,https://www.facebook.com/groups/moi.momsofindi...,154766

In [ ]:
# groups in tasks but not in selection
set(tasks.groupId) - set(df_fbids['Group ID'])

{'3897d416-0bea-4bf9-85ee-2d90da6563a6',
 '3975401c-29bd-4a0e-ba0f-86b897973c38'}

In [ ]:
tick = time.time()

# extract post ids, create links, and format as grpid_postid
grp_post = []

for i in range(df.shape[0]):
# for i in range(2):    
    link = df['FB Post Link'][i]
    grpid, postid, LinkGrpHasId = csu.getGroupandPostIDs(link)
    if LinkGrpHasId:
      bsgrpid = grpid
      match = True if int(bsgrpid) == df.FBGroupIDSel[i] else False
    else: 
      bsgrpid = df['FBGroupIDSel'][i]
      match = True
    fbgrpidSel_str = str(df.FBGroupIDSel[i])
    grp_post.append([df.groupId[i], fbgrpidSel_str, df.groupName[i], grpid, postid, LinkGrpHasId, grpid,\
                     f'https://www.facebook.com/groups/{bsgrpid}/permalink/{postid}/', f'{bsgrpid}_{postid}', match])
print(f'time elapsed: {time.time() - tick} seconds')

time elapsed: 0.004792451858520508 seconds

In [ ]:
# create dataframe
postid_df = pd.DataFrame(grp_post, columns=['CSGroupID','FbGrpIdSel','GroupName','LinkGrpID','PostID',\
                                            'LinkHasGrpID','GrpIDfromLink','FinalLink','grp_post', 'FbIdsMatch'])
postid_df.sort_values('FbIdsMatch',ascending=False,inplace=True)

In [ ]:
# wrong kol links
postid_df[(postid_df.FbIdsMatch == False) | (postid_df.FbGrpIdSel == '0')]

,CSGroupID,FbGrpIdSel,GroupName,LinkGrpID,PostID,LinkHasGrpID,GrpIDfromLink,FinalLink,grp_post,FbIdsMatch
24,3897d416-0bea-4bf9-85ee-2d90da6563a6,0,Mental Health Professionals,meetcounsellor.org,3190880017822089,False,meetcounsellor.org,https://www.facebook.com/groups/0/permalink/31...,0_3190880017822089,True
30,3975401c-29bd-4a0e-ba0f-86b897973c38,0,Nutrition and Dietetics,113018978774379,5139865842756309,True,113018978774379,https://www.facebook.com/groups/11301897877437...,113018978774379_5139865842756309,False

In [ ]:
kol = postid_df.grp_post
kol_tuple = tuple(kol)
print(len(kol_tuple))
kol_tuple

31

('326430437405377_5127490533965986',
 '414473255965163_1217585942320553',
 '792991647424136_5195887950467795',
 '125992824632211_1108467646384719',
 '238534840545628_683171569415284',
 '2238153679742618_3937697866454849',
 '2141010606113725_3381694438711996',
 '0_3190880017822089',
 '561760821218711_1105345760193545',
 '135599973772163_1011714799494005',
 '1078984939205613_1446773219093448',
 '443092582754459_1513793329017707',
 '555119465169437_1005901676757878',
 '141888199860372_980074459375071',
 '1970000843317878_3172331689751448',
 '486291502059374_993339494687903',
 '1343435782401455_5091453930932936',
 '431073793970737_1382324108845696',
 '2751637595114137_3195983067346252',
 '240400049476826_2018621208321359',
 '232925793579287_1807162146155636',
 '345660702440879_1700844310255838',
 '131392557542254_970122727002562',
 '268934937907540_569707517830279',
 '629828977483310_1383187965480737',
 '124575661602415_1111187509607887',
 '448126775237983_5296566120394000',
 '487326304778646_2129354750575785',
 '364972353905531_1496297137439708',
 '334087516998050_1277076532699139',
 '113018978774379_5139865842756309')

In [ ]:
date_range = csu.dateRange('2022-06-02', '2022-06-24')
date_range

"createdatutc >= '2022-06-02' and createdatutc <= '2022-06-24 23:59:59'"

In [ ]:
a1= f"""
(
select groupid, textlower,fbpermlink,parentsourceid as commentid,sourceid as postid,type,
count,reactiontype, sentimentrvalue, recordedatutc,createdatutc from bd_cs_prod_conversations  
where parentsourceid in {kol_tuple}
 and (
        {date_range}
      )

and (grouptype = 'Facebook')
)
union
(
select groupid,textlower,fbpermlink,parentsourceid as commentid,sourceid as postid,type,
count,reactiontype, sentimentrvalue, recordedatutc,createdatutc from bd_cs_prod_conversations  
where sourceid in {kol_tuple}
 and (
        {date_range}
      )

and (type = 'Post' or type = 'Reaction')
and (grouptype = 'Facebook')
)
"""

In [ ]:
%%time
cur1.execute(a1)
w = cur1.fetchall()
y = pd.DataFrame(w)
y.columns = ['groupid','textlower','fbpermlink','commentid','postid','type','count','reactiontype','sentimentrvalue', 'recordedatutc','createdatutc']

kol_y = y.copy()

CPU times: user 201 ms, sys: 35.5 ms, total: 236 ms
Wall time: 28.3 s

In [ ]:
# y = kol_y.copy()

In [ ]:
y.shape

(5652, 11)

In [ ]:
y.to_excel(f'koldump {today}.xlsx', index=False)
files.download(f'koldump {today}.xlsx')

In [ ]:
# posts count
posts = y[y.type == 'Post']

#comments count
kol_comments = y[y.type == 'Comment']

# hashtags comments count

y14 = kol_comments[kol_comments["textlower"].str.contains("#")]

##reactions count
y12 = y[y.type == 'Reaction']
y1 = y12[['fbpermlink','count','recordedatutc','reactiontype','groupid']]
lol = y1.loc[y1.groupby(['groupid','fbpermlink','reactiontype']).recordedatutc.idxmax()]
lol1=lol[['groupid','count']]
kol_reactions = lol1.astype(dtype={'count':'int64'})
qq=kol_reactions[['count']].sum()

# print('KOL Posts:', posts.shape[0])
# print('KOL Comments:', kol_comments.shape[0])
# print('KOL Comments #:',y14.shape[0])
# print('KOL Reactions:',qq[0])

kol_output = pd.DataFrame(np.array([['Posts', posts.shape[0]], ['Comments', \
                                   kol_comments.shape[0]], ['Comments #',y14.shape[0]], ['Reactions',qq[0]]]), \
                         columns=['content','kol'])
kol_output.head()

      content   kol
0       Posts    18
1    Comments  1285
2  Comments #   711
3   Reactions   989

In [ ]:
# kol_posts_groupwise = posts.groupby('groupid')['postid'].count()
# kol_posts_groupwise

In [ ]:
# hashtag kol comments
# kol_comments = y14.copy()
# kol_comments.shape

(792, 11)

In [ ]:
kol_comments_groupwise = kol_comments.groupby(['groupid'])[['groupid']].count()
kol_comments_groupwise.rename(columns={'groupid':'kol_comments'},inplace=True)
kol_comments_groupwise.reset_index(inplace=True)

kol_react_groupwise = kol_reactions.groupby(['groupid'])[['count']].sum()
kol_react_groupwise = kol_react_groupwise.rename(columns={'count':'kol_reactions'}).reset_index()

kol_comments_reactions_grpwise = kol_comments_groupwise.merge(kol_react_groupwise, on='groupid', how='outer').fillna(0)
kol_comments_reactions_grpwise

                                 groupid  kol_comments  kol_reactions
0   0b5d6a5d-4636-49c9-ae4e-7c3f139d7bcc            16           11.0
1   135e9c9a-4f61-4748-8584-48184e731d15            28            7.0
2   1ba40bb4-7329-453d-a535-20c256a24278           136            0.0
3   1c304253-bb8e-440c-ae5e-5bb827d837f3            13            0.0
4   2c806dc3-432f-489f-a00e-dbaa270a8de6            10            0.0
5   3897d416-0bea-4bf9-85ee-2d90da6563a6            23           64.0
6   3975401c-29bd-4a0e-ba0f-86b897973c38            37           26.0
7   39825aeb-1092-4275-9e65-b38e8c60609a            60            0.0
8   3d51ebbe-37d1-47a6-90e1-654d60d737ed            62            0.0
9   4597b476-c749-470b-b813-be96355a960f             9           53.0
10  485a579e-816c-47c5-bdad-0436f5f58d31            76           76.0
11  51414c4c-168a-4b61-9c54-0830ebe470ec            35           36.0
12  5863562c-8c3e-4f89-a117-de0a41e3e095            20            0.0
13  589c9caf-f9ea-456f-a782-d8214e1a54c3            66           65.0
14  5e2df1d9-a783-4fe8-86e7-5584a1425acd            73           78.0
15  64771ffc-48af-430b-86c1-863022d52d66            53           57.0
16  65ebfc20-0ba7-433d-b14b-74163e4f27dd            69           71.0
17  6df3f44f-d87a-48e8-8bcf-710aa06b56bf            84           46.0
18  718175d3-29fa-4e83-b60a-eca1cad397d0             5           23.0
19  75fc3914-a2a6-4acb-9afa-f590487c5770            59           64.0
20  a24fbdcd-82b6-4676-ad5b-7ef7fd620e17            23            0.0
21  a687e3dc-bf03-41a0-8020-9e81760e21de            30            0.0
22  aa4d44ed-2599-4616-850f-41042eee26ad            15           28.0
23  aae2e527-f6c4-4499-bdc5-147005a69fcf            12           20.0
24  daf91eb5-b6b2-4414-a150-c9bc74a2fe20            56            0.0
25  e0c09953-9e4f-4286-87d6-b7f44d20872c            76            0.0
26  fc1a43e0-3587-4e9b-88aa-bf0a7674fd44            10           32.0
27  fd272a8b-91ef-4585-9bda-6257210402bf            90          174.0
28  ffd2cf8f-1608-419a-b334-4042b00d3e09            39           58.0

In [ ]:
kol_comments_reactions_grpwise.to_excel('grpwise_kol_react_comments.xlsx', index=False)
files.download('grpwise_kol_react_comments.xlsx')

In [ ]:
# y[y.textlower.str.contains('#clothesasgoodasnew')].shape[0]

In [ ]:
#reactions count dump
lol1.to_excel("reactionsaditya.xlsx")

In [ ]:
##shares count
y12 = y[y.type == 'PostsSharedCount']
y1 = y12[['fbpermlink','recordedatutc','reactiontype','groupid']]
y1['recordedatutc'] = pd.to_datetime(y1['recordedatutc'])
lol = y1.loc[y1.groupby(['fbpermlink']).recordedatutc.idxmax()]
lol1=lol[['fbpermlink','Count']]
lol1["Count"] = pd.to_numeric(lol1["Count"])
qq=lol1[['Count']].sum()
qq

In [ ]:
#shares dump
lol1.to_excel("share.xlsx")
files.download('share.xlsx')

## Combined kol & ugc

In [ ]:
# generic

# group_ids = tuple(pd.read_excel('generic.xlsx')['groupid'])
# len(group_ids)

In [ ]:
# Group IDs

group_ids = tuple(tasks['groupId'])
print('Groups count:',len(group_ids))
# print(str(group_ids[0][:2]) + str(group_ids[-1][-2:]))

Groups count: 31

In [ ]:
hashtags = csu.makeTransformations('#Tata1mg, #1mg,#1mgforevery1,#1mgforeveryone,#BringingCareToHealth,#RightDiagnosticForAll,#RightDiagnosticsForAll', model=False)
hashtags

"TEXTLOWER ILIKE '%#tata1mg%' OR TEXTLOWER ILIKE '%#1mg%' OR TEXTLOWER ILIKE '%#1mgforevery1%' OR TEXTLOWER ILIKE '%#1mgforeveryone%' OR TEXTLOWER ILIKE '%#bringingcaretohealth%' OR TEXTLOWER ILIKE '%#rightdiagnosticforall%' OR TEXTLOWER ILIKE '%#rightdiagnosticsforall%'"

In [ ]:
# Combined Admin & UGC- reactions & comments

a1=f"""
(
  select
  groupid,
  fbpermlink,
  rawtext,
  parentsourceid as commentid,
  sourceid as postid,
  type,
  count,
  updatedatutc,
  createdatutc,
  recordedatutc,
  reactiontype
  from
  bd_cs_prod_conversations
  where
  fbpermlink in (
    Select
      fbpermlink
    from
      bd_cs_prod_conversations
    where
      ({hashtags})
      and groupid in {group_ids}
      and (
        {date_range}
      )
      and (type = 'Post')
      and (grouptype = 'Facebook')
  )
)
"""

In [ ]:
%%time
cur1.execute(a1)
w = cur1.fetchall()
y = pd.DataFrame(w)
y.columns = ['groupid','fbpermlink','rawtext','commentid','postid','type','Count','updatedatutc','createdatutc','recordedatutc','reactiontype']

combined_y = y.copy()

CPU times: total: 234 ms
Wall time: 4min 6s

In [ ]:
y.shape

(6178, 11)

In [ ]:
y[y.type=='Post']['rawtext'].head()

13    Collaboration #Tata1mg #1mg #1mgforevery1 #Bri...
42    Collaboration #Tata1mg #1mg #1mgforevery1 #Bri...
44    Collaboration #Tata1mg #1mg #1mgforevery1 #Bri...
48    Collaboration #Tata1mg #1mg #1mgforevery1 #Bri...
49    Collaboration #Tata1mg #1mg #1mgforevery1 #Bri...
Name: rawtext, dtype: object

In [ ]:
#kol+ugc posts with hashtags
y1 = y[y.type == 'Post']
y2=y1[['groupid','postid','rawtext','fbpermlink']]
y2.shape[0]

326

## UGC - User Generated Content

In [ ]:
combined = y2.postid.drop_duplicates().to_frame()
combined.head()

                              postid
13  414473255965163_1217585942320553
42   141888199860372_980074459375071
44  334087516998050_1277076532699139
48  232925793579287_1807162146155636
49   131392557542254_970122727002562

In [ ]:
ugc = combined[~combined.isin(kol_tuple)].dropna()
kols_filtered = combined[combined.isin(kol_tuple)].dropna()
print('UGC posts:',ugc.shape[0])
print('KOL posts filtered:',kols_filtered.shape[0])
print('Combined:',combined.shape[0])

UGC posts: 282
KOL posts filtered: 28
Combined: 310

In [ ]:
# kol posts not in combined
# kol[~kol.isin(kols_filtered.postid)].reset_index(drop=True)

In [ ]:
ugc_tuple = tuple(ugc.postid)
print(len(ugc))
ugc_tuple[:5]

282

('268934937907540_571390730995291',
 '141888199860372_980173759365141',
 '141888199860372_980171126032071',
 '141888199860372_980193576029826',
 '345660702440879_1701022106904725')

In [ ]:
a1= f"""
(
select groupid, textlower,fbpermlink,parentsourceid as commentid,sourceid as postid,type,
count,reactiontype, sentimentrvalue, recordedatutc,createdatutc from bd_cs_prod_conversations  
where parentsourceid in {ugc_tuple}
 and (
        {date_range}
      )

and (grouptype = 'Facebook')
)
union
(
select groupid,textlower,fbpermlink,parentsourceid as commentid,sourceid as postid,type,
count,reactiontype, sentimentrvalue, recordedatutc,createdatutc from bd_cs_prod_conversations  
where sourceid in {ugc_tuple}
 and (
        {date_range}
      )

and (type = 'Post' or type = 'Reaction')
and (grouptype = 'Facebook')
)
"""

In [ ]:
%%time
cur1.execute(a1)
w = cur1.fetchall()
y = pd.DataFrame(w)
y.columns = ['groupid','textlower','fbpermlink','commentid','postid','type','count','reactiontype','sentimentrvalue', 'recordedatutc','createdatutc']
ugc_y = y.copy()

CPU times: total: 46.9 ms
Wall time: 14.7 s

In [ ]:
# y = ugc_y.copy()

In [ ]:
y.shape

(5652, 11)

In [ ]:
csu.printReferenceConv(y[~(y.type=='Reaction')], 0, 5)

Reference Conversations
────────────────────────────────────────────────────────────────────────────────
Preeti Khurana Chawla thanx
────────────────────────────────────────────────────────────────────────────────
Meena S Goyal thanx for sharing
────────────────────────────────────────────────────────────────────────────────
#Tata1mg #1mg #1mgforevery1 #BringingCareToHealth #RightDiagnosticForAll
Tata 1 mg is a very good healthcare..I must try it
────────────────────────────────────────────────────────────────────────────────
#Tata1mg #1mg #1mgforevery1 #BringingCareToHealth #RightDiagnosticForAll

Amazing app and service
────────────────────────────────────────────────────────────────────────────────
#Tata1mg #1mg #1mgforevery1 #BringingCareToHealth #RightDiagnosticForAll
Best one yet. Thanks for sharing mam amezing app highly recommended
────────────────────────────────────────────────────────────────────────────────

In [ ]:
y.to_excel(f'ugcdump {today}.xlsx', index=False)
files.download(f'ugcdump {today}.xlsx')

In [ ]:
# posts count
posts = y[y.type == 'Post'].drop_duplicates(subset=['postid'])

#comments count
ugc_comments = y[y.type == 'Comment']

# hashtags comments count

y14 = ugc_comments[ugc_comments["textlower"].str.contains("#")]

##reactions count
y12 = y[y.type == 'Reaction']
y1 = y12[['fbpermlink','count','recordedatutc','reactiontype','groupid']]
lol = y1.loc[y1.groupby(['groupid','fbpermlink','reactiontype']).recordedatutc.idxmax()]
lol1=lol[['groupid','count']]
ugc_reactions = lol1.astype(dtype={'count':'int64'})
qq=ugc_reactions[['count']].sum()

# print('UGC Posts:', posts.shape[0])
# print('UGC Comments:', ugc_comments.shape[0])
# print('UGC Comments #:',y14.shape[0])
# print('UGC Reactions:',qq[0])

ugc_output = pd.DataFrame(np.array([['Posts', posts.shape[0]], ['Comments', \
                                   ugc_comments.shape[0]], ['Comments #',y14.shape[0]], ['Reactions',qq[0]]]), \
                         columns=['content','ugc'])
ugc_output.head()

      content   ugc
0       Posts    18
1    Comments  1285
2  Comments #   711
3   Reactions   989

In [ ]:
ugc_posts_groupwise = posts.groupby(['groupid'])[['groupid']].count()
ugc_posts_groupwise.rename(columns={'groupid':'ugc_posts'},inplace=True)
ugc_posts_groupwise.reset_index(inplace=True)
ugc_posts_groupwise

                                 groupid  ugc_posts
0   0b5d6a5d-4636-49c9-ae4e-7c3f139d7bcc          1
1   3897d416-0bea-4bf9-85ee-2d90da6563a6          1
2   3975401c-29bd-4a0e-ba0f-86b897973c38          1
3   4597b476-c749-470b-b813-be96355a960f          1
4   485a579e-816c-47c5-bdad-0436f5f58d31          1
5   51414c4c-168a-4b61-9c54-0830ebe470ec          1
6   589c9caf-f9ea-456f-a782-d8214e1a54c3          1
7   5e2df1d9-a783-4fe8-86e7-5584a1425acd          1
8   64771ffc-48af-430b-86c1-863022d52d66          1
9   65ebfc20-0ba7-433d-b14b-74163e4f27dd          1
10  6df3f44f-d87a-48e8-8bcf-710aa06b56bf          1
11  718175d3-29fa-4e83-b60a-eca1cad397d0          1
12  75fc3914-a2a6-4acb-9afa-f590487c5770          1
13  aa4d44ed-2599-4616-850f-41042eee26ad          1
14  aae2e527-f6c4-4499-bdc5-147005a69fcf          1
15  fc1a43e0-3587-4e9b-88aa-bf0a7674fd44          1
16  fd272a8b-91ef-4585-9bda-6257210402bf          1
17  ffd2cf8f-1608-419a-b334-4042b00d3e09          1

In [ ]:
ugc_posts_groupwise.to_excel('grpwise_ugc_posts.xlsx')
files.download('grpwise_ugc_posts.xlsx')

In [ ]:
# ugc_comments = y14.copy()
# ugc_comments.shape

In [ ]:
ugc_comments_groupwise = ugc_comments.groupby(['groupid'])[['groupid']].count()
ugc_comments_groupwise.rename(columns={'groupid':'ugc_comments'},inplace=True)
ugc_comments_groupwise.reset_index(inplace=True)

ugc_react_groupwise = ugc_reactions.groupby(['groupid'])[['count']].sum()
ugc_react_groupwise = ugc_react_groupwise.rename(columns={'count':'ugc_reactions'}).reset_index()

ugc_comments_reactions_grpwise = ugc_comments_groupwise.merge(ugc_react_groupwise, on='groupid', how='outer').fillna(0)
ugc_comments_reactions_grpwise

                                 groupid  ugc_comments  ugc_reactions
0   0b5d6a5d-4636-49c9-ae4e-7c3f139d7bcc            16           11.0
1   135e9c9a-4f61-4748-8584-48184e731d15            28            7.0
2   1ba40bb4-7329-453d-a535-20c256a24278           136            0.0
3   1c304253-bb8e-440c-ae5e-5bb827d837f3            13            0.0
4   2c806dc3-432f-489f-a00e-dbaa270a8de6            10            0.0
5   3897d416-0bea-4bf9-85ee-2d90da6563a6            23           64.0
6   3975401c-29bd-4a0e-ba0f-86b897973c38            37           26.0
7   39825aeb-1092-4275-9e65-b38e8c60609a            60            0.0
8   3d51ebbe-37d1-47a6-90e1-654d60d737ed            62            0.0
9   4597b476-c749-470b-b813-be96355a960f             9           53.0
10  485a579e-816c-47c5-bdad-0436f5f58d31            76           76.0
11  51414c4c-168a-4b61-9c54-0830ebe470ec            35           36.0
12  5863562c-8c3e-4f89-a117-de0a41e3e095            20            0.0
13  589c9caf-f9ea-456f-a782-d8214e1a54c3            66           65.0
14  5e2df1d9-a783-4fe8-86e7-5584a1425acd            73           78.0
15  64771ffc-48af-430b-86c1-863022d52d66            53           57.0
16  65ebfc20-0ba7-433d-b14b-74163e4f27dd            69           71.0
17  6df3f44f-d87a-48e8-8bcf-710aa06b56bf            84           46.0
18  718175d3-29fa-4e83-b60a-eca1cad397d0             5           23.0
19  75fc3914-a2a6-4acb-9afa-f590487c5770            59           64.0
20  a24fbdcd-82b6-4676-ad5b-7ef7fd620e17            23            0.0
21  a687e3dc-bf03-41a0-8020-9e81760e21de            30            0.0
22  aa4d44ed-2599-4616-850f-41042eee26ad            15           28.0
23  aae2e527-f6c4-4499-bdc5-147005a69fcf            12           20.0
24  daf91eb5-b6b2-4414-a150-c9bc74a2fe20            56            0.0
25  e0c09953-9e4f-4286-87d6-b7f44d20872c            76            0.0
26  fc1a43e0-3587-4e9b-88aa-bf0a7674fd44            10           32.0
27  fd272a8b-91ef-4585-9bda-6257210402bf            90          174.0
28  ffd2cf8f-1608-419a-b334-4042b00d3e09            39           58.0

In [ ]:
ugc_comments_reactions_grpwise.to_excel('grpwise_ugc_react_comments.xlsx')
files.download('grpwise_ugc_react_comments.xlsx')

## Combined

In [ ]:
# combined kol and ugc
total = kol_output.merge(ugc_output, on='content')
total = total.astype({'kol':'int64','ugc':'int64'})
total['combined'] = total['kol'] + total['ugc']
total

      content   kol   ugc  combined
0       Posts    18    18        36
1    Comments  1285  1285      2570
2  Comments #   711   711      1422
3   Reactions   989   989      1978

In [ ]:
combined_comments_reactions_grpwise = kol_comments_reactions_grpwise.merge(ugc_comments_reactions_grpwise,on='groupid',how='outer').fillna(0)
combined_comments_reactions_grpwise['comments'] = combined_comments_reactions_grpwise.kol_comments + combined_comments_reactions_grpwise.ugc_comments
combined_comments_reactions_grpwise['reactions'] = combined_comments_reactions_grpwise.kol_reactions + combined_comments_reactions_grpwise.ugc_reactions
combined_comments_reactions_grpwise

,groupid,kol_comments,kol_reactions,ugc_comments,ugc_reactions,comments,reactions
0,0b5d6a5d-4636-49c9-ae4e-7c3f139d7bcc,16,11.0,16,11.0,32,22.0
1,135e9c9a-4f61-4748-8584-48184e731d15,28,7.0,28,7.0,56,14.0
2,1ba40bb4-7329-453d-a535-20c256a24278,136,0.0,136,0.0,272,0.0
3,1c304253-bb8e-440c-ae5e-5bb827d837f3,13,0.0,13,0.0,26,0.0
4,2c806dc3-432f-489f-a00e-dbaa270a8de6,10,0.0,10,0.0,20,0.0
5,3897d416-0bea-4bf9-85ee-2d90da6563a6,23,64.0,23,64.0,46,128.0
6,3975401c-29bd-4a0e-ba0f-86b897973c38,37,26.0,37,26.0,74,52.0
7,39825aeb-1092-4275-9e65-b38e8c60609a,60,0.0,60,0.0,120,0.0
8,3d51ebbe-37d1-47a6-90e1-654d60d737ed,62,0.0,62,0.0,124,0.0
9,4597b476-c749-470b-b813-be96355a960f,9,53.0,9,53.0,18,106.0
10,485a579e-816c-47c5-bdad-0436f5f58d31,76,76.0,76,76.0,152,152.0
11,51414c4c-168a-4b61-9c54-0830ebe470ec,35,36.0,35,36.0,70,72.0
12,5863562c-8c3e-4f89-a117-de0a41e3e095,20,0.0,20,0.0,40,0.0
13,589c9caf-f9ea-456f-a782-d8214e1a54c3,66,65.0,66,65.0,132,130.0
14,5e2df1d9-a783-4fe8-86e7-5584a1425acd,73,78.0,73,78.0,146,156.0
15,64771ffc-48af-430b-86c1-863022d52d66,53,57.0,53,57.0,106,114.0
16,65ebfc20-0ba7-433d-b14b-74163e4f27dd,69,71.0,69,71.0,138,142.0
17,6df3f44f-d87a-48e8-8bcf-710aa06b56bf,84,46.0,84,46.0,168,92.0
18,718175d3-29fa-4e83-b60a-eca1cad397d0,5,23.0,5,23.0,10,46.0
19,75fc3914-a2a6-4acb-9afa-f590487c5770,59,64.0,59,64.0,118,128.0
20,a24fbdcd-82b6-4676-ad5b-7ef7fd620e17,23,0.0,23,0.0,46,0.0
21,a687e3dc-bf03-41a0-8020-9e81760e21de,30,0.0,30,0.0,60,0.0
22,aa4d44ed-2599-4616-850f-41042eee26ad,15,28.0,15,28.0,30,56.0
23,aae2e527-f6c4-4499-bdc5-147005a69fcf,12,20.0,12,20.0,24,40.0
24,daf91eb5-b6b2-4414-a150-c9bc74a2fe20,56,0.0,56,0.0,112,0.0
25,e0c09953-9e4f-4286-87d6-b7f44d20872c,76,0.0,76,0.0,152,0.0
26,fc1a43e0-3587-4e9b-88aa-bf0a7674fd44,10,32.0,10,32.0,20,64.0
27,fd272a8b-91ef-4585-9bda-6257210402bf,90,174.0,90,174.0,180,348.0
28,ffd2cf8f-1608-419a-b334-4042b00d3e09,39,58.0,39,58.0,78,116.0

In [ ]:
combined_comments_reactions_grpwise.to_excel('grpwise_engagement.xlsx')
files.download('grpwise_engagement.xlsx')

In [ ]:
combined_comments_reactions_grpwise.loc[:,['groupid','comments','reactions']].to_clipboard(index=False)
combined_comments_reactions_grpwise.loc[:,['groupid','comments','reactions']]

                                 groupid  comments  reactions
0   046b62aa-72ec-48e5-be7e-8625ba91d5dc     497.0      713.0
1   11992a90-d23e-41ff-b16b-7b1304eb9f7b      32.0       99.0
2   19e4aa07-8395-40a6-b133-2f380fe3258b     788.0      920.0
3   1e006a60-14f6-43c0-8421-4b367f19a4aa      32.0       55.0
4   219c8f04-ba5a-4e49-a2a1-a9cab934e059     379.0      681.0
5   22fe26d5-3237-4200-a1e9-c84fddc06105     568.0     1137.0
6   2820246a-6c1f-4628-b840-03971cee7766     526.0      778.0
7   2d9e9b5f-daa0-4c33-b14a-4cd22a32992f     137.0      262.0
8   2da980be-d2b7-44de-ae8f-72fd1f8d842b     540.0     1086.0
9   36da0082-f835-4814-82b4-8d6abd9b6fde      12.0       35.0
10  3fe66a43-1135-48e2-b94f-fc6899346c8c     237.0      706.0
11  44a833ff-50aa-4db4-b96d-24277c19a96b     538.0      815.0
12  564b8021-bbb1-461e-bddf-844e9124cc94     449.0      746.0
13  59cddd30-34ca-406f-947b-b54035e314b0     347.0      475.0
14  649db418-60dc-4ae5-b380-3f557231aeb0    3492.0      730.0
15  685fbbed-2e01-4fbb-b064-0b8ef746defa     643.0     1873.0
16  6918e6a7-c5a5-4b22-aac9-b47a90d79155     394.0      395.0
17  6f4770a7-82c3-43d7-b2ec-3f8fd33490c3     339.0      655.0
18  76668a06-2a8b-4f71-8b6a-52091f12c1bc     879.0     1727.0
19  77501185-4858-4119-b010-29701caf41ef     235.0      831.0
20  78b0837a-9b10-456f-9bd0-1ff5c9bb7813      83.0      263.0
21  78db3bf1-bb13-4bf5-bf66-f2916e30b1ce     880.0     1751.0
22  802f789e-6dd3-49d1-9f39-04a297ddd1ee     181.0      364.0
23  864c30e0-9c0e-4360-bc6a-4f8012739865       5.0       13.0
24  92f37fda-b800-4458-a63d-f3e816fac1f5     240.0      377.0
25  9ac29212-69db-4abd-b132-c51d0b095787     270.0      399.0
26  9c2efbb9-6a39-4be3-8566-715c317b38b5      24.0       54.0
27  9cf6673d-e08d-4107-8112-bf6213fd84ef    1165.0     1116.0
28  a1ee15bc-7efc-4470-a680-22915a8a87a3    2118.0      902.0
29  a9c1291e-3c25-49c1-a37e-8e7fdad5ad73     712.0      996.0
30  ad79f1a0-28fb-42c6-979b-8ae61c4fdb91     597.0     1044.0
31  bc2ed272-29e7-4c7b-853c-23301ea15b67     790.0     1191.0
32  c486aca1-56ae-4103-a8f8-764fd58e0274      43.0      125.0
33  d38f119d-f8da-4686-a973-5ab374db9164     361.0      431.0
34  d3d8c817-635e-41c2-b6ba-fa53999bcc76    1141.0     1461.0
35  d55cce65-1aec-4085-b471-613573420d42     274.0      598.0
36  e1ab2d75-bb67-4b05-853b-19aaa2c23f64     700.0      963.0
37  e239369a-8ef4-4310-a0dc-53aee71e3a63      29.0      144.0
38  ec5e09af-8e0b-4d9e-9fe2-3aa245be9b85       2.0       13.0
39  ed8116f6-4f22-4ffe-9f32-73406fd5b12e     893.0     1775.0
40  ee6bc056-90b5-4786-969b-3d754a4dd7fd      34.0       98.0
41  ef682bb9-a0f6-4c6b-85d5-5bb8dafac93f     182.0      573.0
42  f81fbbe1-63e6-45dc-be55-4aede14b1d66    1798.0     1926.0